@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.Navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 0px 0 0 rgba(0, 0 ,0, 0.2);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    background-color:#fff;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
}
.nav-linkss{
    color: #222;
}

.navbar-logo {
    color: #222;
    font-size: 2rem;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;
    align-items: center;
}

.nav-linkss > a {
    text-decoration: none;
    font-size: 1.2rem;
    color:white;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-linkss:hover {
    background-color: rgb(194, 159, 116);
    color: rgb(12, 10, 10);
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.menu-icons {
    display: none;
}

.Navbar1 > img {
    width: 10rem;

}


@media screen and (max-width : 850px) {
    .Navbar1 {
        z-index: 99;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: #fff;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        transition: 0.3s ease-in-out;
        border-radius: 13px;

    }

    .nav-menu.active {
        left: 0%;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }

    .nav-linkss {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
        color: #222;
    }

    .nav-linkss:hover {
        background: rgb(45, 145, 45);
        transition: none;

    }

    .menu-icons {
        display: block;
        cursor: pointer;
    }

    .menu-icons i {
        font-size: 1.2rem;
        color:#222;
        padding: 35px
    }

    img {
        width: 7rem;
    }
    a{
        background-color: #fff;
        color: #222;
    }
}