@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

/* body{
  background-color: #94bbe9;
} */
.card{
  padding: 10px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
}
.card-body{
  transition: transform 0.2s;
}
.card > img{
  border-radius: 25px;
  height: 250px;
}
.button{
  text-decoration: none;
  color: white;
  background-color: rgb(16, 65, 169);
  padding: 1rem 1rem;
   border-radius: 50px;
  font-size: 1rem;
   font-weight: bold;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    width: auto;
    text-align: center;
    margin-bottom: 3rem;
}
